<li>
  <%= link_to gravatar_for(comment.user, size:50), comment.user %>
  <span class="user">
	  <%= link_to comment.user.name, comment.user  %>  commented:
  </span>
  <span  class="body">
  	<%= sanitize comment.body  %>
  </span>
</li>