<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="bets">
      <%= render @bet %>
    </div>
    <% if @bet.comments.any? %>
    <div class="panel panel-default">

     <div class="panel-heading">
       <h5 class="center">Comments</h1>
     </div>

      <div class="panel-body">
        <div class="comments">
          <%= render @comments %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="new_comment">
      <%= render 'comments/comment_form', bet: @bet %>
    </div>
  </div>
</div>