<%= provide(:title, "Majors") %>
<h1>Today's Majors in UPenn</h1>
<div class="row"></div>
  <div class="col-md-6 col-md-offset-3">
	<table class="table table-stripped table-hover" id="majors">
		<thead>
			<tr>
				<th>Name</th>
				<th>studying</th>
				<th>procrastinating</th>
				<th>people</th>
				<th>winnings</th>
				<th>Join?</th>
			</tr>
		</thead>
		<tbody>
			<%= render @majors %>
		</tbody>
	</table>
  </div>
</div>